<div class="prestation">

  <div class="intro">
        <h1 class="title">Votre plombier {{ city ? 'à ' + city.name : "proche de chez vous." }}</h1>
        <div class="border-left">
            <p>Un problème de plomberie ? Fuite d’eau, engorgement, installation sanitaires compliquée, panne de votre ballon d’eau chaud, panne chauffage, etc.</p>
            <p>Contactez nous afin de résoudre au plus vite votre problème.</p>
            <p>La plomberie n'a pas de secret pour nous.</p>
        </div>
    </div>

  <div class="line blue-bg"></div>

  <app-assurance class="app-assu"></app-assurance>

  <app-competence style="width: 100%;"></app-competence>

  <div class="line blue-bg"></div>

  <h2 class="title">Un plombier à l'écoute de ses clients</h2>
  <p>{{ent_nom}} est attentive à votre confort, nous mettons tout en oeuvre pour intervenir dans les meilleurs des délais {{ city ? 'à ' + city.name : "" }}, pour vous garantir une efficacité maximale lors du dépannage . En moins de 20 minutes nous intervenons chez vous et trouvons rapidement une solution à votre problème quel qu’il soit à prix serré.</p>
  <p>Contactez-nous pour plus d’informations.<br/></p>
  <p>Nous intervenons le plus rapidement possible 24h/24h et 7j/7j pour que votre problème de plomberie puisse être réglé au plus vite. Quelque soit le type d’installation présente chez vous, nos plombiers sauront la réparer. Nous travaillons avec les plus grandes marques pour vous garantir une entière satisfaction et un travail de qualité.</p>

</div>
