.sprite-assu {
				background-image: url('/assets/images/spritesheet-assu.png');
				background-repeat: no-repeat;
				display: block;
				width:65px; 
				height:75px; 
				padding:5px; 
				transition: all .2s linear;
}

.sprite-assu-icon1 { background-position: 0 0;}

.sprite-assu-icon2 { background-position: -600px 0;}

.sprite-assu-icon3 { background-position: -675px 0;}

.sprite-assu-icon4 { background-position: -750px 0;}

.sprite-assu-icon5 { background-position: -825px 0;}

.sprite-assu-icon6 { background-position: -900px 0;}

.sprite-assu-icon7 { background-position: -975px 0;}

.sprite-assu-icon8 { background-position: -1050px 0;}

.sprite-assu-icon9 { background-position: -75px 0;}

.sprite-assu-icon10 { background-position: -150px 0;}

.sprite-assu-icon11 { background-position: -225px 0;}

.sprite-assu-icon12 { background-position: -300px 0;}

.sprite-assu-icon13 { background-position: -375px 0;}

.sprite-assu-icon14 { background-position: -450px 0;}

.sprite-assu-icon15 { background-position: -525px 0;}

.assu {
	padding-left: 0px; 
	padding-right: 0px; 
	margin-bottom: 25px; 
	display: block; 
	background-color: white;
	margin: 30px 0px;
	.assu-title {
		position: relative; 
		font-weight: bold; 
		color: #54c4ec; 
		font-size: 1.5em;
		display: flex;
		justify-content: center;
		.line {
			display: none;
			position: absolute; 
			background: #2d9eff; 
			height: 2px;
			width: 90%; 
			margin: 0px auto; 
			left: 50%; 
			transform: translate(-50%, 0); 
			top: 26px;
		}
		h2 {
			// padding: 0px 10px; top: -25px;
			// position: absolute;
			background-color: white;
			color: #2d9eff;
			// left: 50%;
			// transform: translate(-50%, 0);
			white-space: nowrap;
			font-size: 1.3em !important;
		}
	}
	.swiper-wrapper {
		height:auto;
		// margin-top: 50px;
		display: flex;
	}
}

.icon-assu {
	background-position: center;
	background-size: cover; 
	background: none; width: 95px; 
	height: 100px;
}