<div class="card">
	<div class="blue">
		<div class="btn-b" style="float: left; text-align: center; padding: 10px 2px;">
			<i class="fa fa-cloud-upload fa-2x" aria-hidden="true"></i>
			<div class="titre"><a href="commande-intervention.php" style="color: white;">Commandez une <br/>intervention en ligne</a></div>
		</div>
		<div class="btn-b rappel" style="float: right; text-align: center; padding: 10px 2px;">
			<i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
			<div class="titre">Demandez un rappel<br/>téléphonique</div>
		</div>
	</div>
</div>