<form #form [formGroup]="formCallback" class="demande-rappel">

  <span class="titre">
    <i class="space-grow"></i>
    Demande de rappel
    <i class="material-icons" (click)="closePopup()">clear</i>
  </span>

  <div class="content-input">
    <div #inputNumber [ngClass]="classForInputNumber()" >
      <input class="mdl-textfield__input" type="text" pattern="([0-9]+\s*)+" maxlength="14" id="phone" formControlName="phone" autocomplete="off" 
      (keydown)="checkNumber(formCallback.value.phone, $event)"
      (keyup)="checkAfterBlur(formCallback.value.phone)">
      <label class="mdl-textfield__label" for="phone">Numéro de téléphone</label>
      <span class="mdl-textfield__error">Numéro incorrect</span>
    </div>

    <div #inputSelect class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <textarea formControlName="time" class="mdl-textfield__input" type="text" rows= "1" id="callback" readonly></textarea>
      <i class="material-icons">keyboard_arrow_down</i>
      <label class="mdl-textfield__label" for="callback">Être rappeler dans</label>
      <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
        for="callback">
        <li (click)="selectTime(0)" class="mdl-menu__item">5-10 minutes</li>
        <li (click)="selectTime(1)" class="mdl-menu__item">30 minutes</li>
        <li (click)="selectTime(2)" class="mdl-menu__item">1 heures</li>
        <li (click)="selectTime(3)" class="mdl-menu__item">2 heures</li>
        <li (click)="selectTime(4)" class="mdl-menu__item mdl-menu__item--full-bleed-divider">3 heures</li>
        <li (click)="selectTime(5)" class="mdl-menu__item">Soirée</li>
      </ul>
    </div>
  </div>

  <div class="action">
    <div class="space-grow"></div>
    <button #buttonSubmit class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="submit()" disabled="true">Valider</button>
  </div>

</form>