/* You can add global styles to this file, and also import other style files */

@charset "UTF-8";
/* latin-ext */
@font-face{
	font-family:'FontAwesome';
	src:url('assets/fonts/fontawesome-webfont.eot?v=4.6.3');
	src:url('assets/fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') 
	format('embedded-opentype'),url('assets/fonts/fontawesome-webfont.woff2?v=4.6.3') 
	format('woff2'),
	url('assets/fonts/fontawesome-webfont.woff?v=4.6.3') 
	format('woff'),
	url('assets/fonts/fontawesome-webfont.ttf?v=4.6.3') 
	format('truetype'),
	url('assets/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') 
	format('svg');
	font-weight:
	normal;
	font-style:normal
}



.primary {
	background-color: #2d9eff;
}


div .mdl-layout__drawer-button { display: none; }

/*

.img-serrurier {background: url(assets/images/serrurier-s.jpg) no-repeat;}
.img-serrurier1 {background: url(assets/images/serrurier/img1.jpg) no-repeat;}
.img-serrurier2 {background: url(assets/images/serrurier/img2.jpg) no-repeat;}

.img-plombier {background: url(assets/images/plombier-s.jpg) no-repeat;}
.img-plombier1 {background: url(assets/images/plombier/img1-opt.jpg) no-repeat;}

.img-electricien {background: url(assets/images/electricien-s.jpg) no-repeat;}
.img-elec1 {background: url(assets/images/elec/pic1.jpg) no-repeat;}
.img-elec2 {background: url(assets/images/elec/img3.jpg) no-repeat;}

.img-vitrier {background: url(assets/images/vitrier-s.jpg) no-repeat;}
.img-vitrier1 {background: url(assets/images/vitrier/img2.jpg) no-repeat;}
*/


@import url('https://code.getmdl.io/1.2.0/material.grey-light_blue.min.css');


$black : #4b4b4b;
$grey : #eeeeee;
$grey_font : #858585;
$red : #ec052e;
$blue : royalblue;
$orange : #ff7e09;

body { 
    margin: 0px;
}
div {box-sizing: border-box;}
ul {list-style-type: none;}
p { text-align: justify; }
a {
	color: inherit;
	font-weight: inherit;
	text-decoration: inherit;
}
.grey-bg {background-color: $grey_font;}
.blue-bg {background-color: $blue;}
.red-bg {background-color: $red;}
.orange-bg {background-color: $orange;}
.grey-color {background-color: $grey_font;}
.blue-color {color: $blue;}
.red-color {color: $red;}
.orange-color {color: $orange;}

.border-left { padding-left: 25px;}


.line {height: 2px; width: 100%; display: block; margin: 20px 0px;}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.title { font-size: 25px; }
h2.title { font-size: 22px; }
h3.title { font-size: 19px; }
h4.title { font-size: 16px; }
h5.title { font-size: 13px; }
h6.title { font-size: 10px; }



.align-right {justify-content: flex-end !important;}
.align-left {justify-content: flex-start !important;}
.row-reverse {flex-direction:row-reverse !important;}


.img-serrurier-mobile {background: url('assets/images/serrurier/img3.jpg');}
.img-plomberie-mobile {background: url('assets/images/plombier/img2.jpg');}
.img-electricite-mobile {background: url('assets/images/elec/img3.jpg');}

.mdl-layout {
	overflow-y: hidden !important;
}

.app-assu { 
	overflow: hidden;
	width: 100%;
}

form.demande-rappel {
	display: none;
  padding: 10px 0px;
	transition: 0.2s all ease-in-out;
	span.titre {
		display: block;
    width: 100%;
    text-align: center;
    font-size: 19px;
    padding: 10px 0px;
		cursor: default;
		color: white;
		i.material-icons {display: none;}
	}
  div.content-input {
    padding: 10px 32px;
    textarea, i {cursor: default;}
    i {
        position: absolute;
        top: 0px;
        right: -10px;
        margin: 20px;
        z-index: -1;
    }
    textarea {resize: none;}
		div.mdl-textfield--floating-label {
			input.mdl-textfield__input,
			textarea.mdl-textfield__input {border-bottom: 1px solid rgba(255, 255, 255, 0.50);}
			label.mdl-textfield__label {
				color: black;
				&:after {
    			background-color: rgb(255, 255, 255);
				}
			}
		}
		div.mdl-textfield--floating-label.is-dirty,
		div.mdl-textfield--floating-label.is-focused  {
			input, textarea {color: white !important}
			label.mdl-textfield__label {color: black !important;}
		}
  }
  .action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .space-grow {flex-grow: 0.5;}
		button {color: white;}
  }
}

div.competences {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
	align-items: baseline;
	div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $grey_font;
		margin: 70px 0px;
		width: 220px;
		span.icon {
			width: 60px;
			height: 60px;
			display: block;
			background-color: $grey_font;
			mask-position: 50% 50%;
			-webkit-mask-position: 50% 50%;
			mask-repeat: no-repeat;
			-webkit-mask-repeat: no-repeat;
		}
		span.icon-time {
			-webkit-mask-image: url(assets/images/icon/time.svg);
			mask-image: url(assets/images/icon/time.svg);
		}
		span.icon-cb {
			-webkit-mask-image: url(assets/images/icon/carte-bleu.svg);
			mask-image: url(assets/images/icon/carte-bleu.svg);
		}
		span.icon-quality {
			-webkit-mask-image: url(assets/images/icon/quality.svg);
			mask-image: url(assets/images/icon/quality.svg);
		}
		h3 {
			font-size: 15px;
			line-height: 25px;
			width: 75%;
			margin: 0;
			text-align: center;
		}
	}
}
.side {display: none;}

header.header-fixed-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: none;
	z-index: inherit;
    /*transition: 0.1s ease-in-out;*/
    .top {
        padding-top: 25px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .logo {
            width: 100px;
            height: 90px;
			transition: 0.2s all ease-in-out;
			cursor: pointer;
			svg {
				width: 100%;
				height: auto;
				.st0, .st1 {fill:none; stroke-miterlimit:10;}
				.st0{stroke-width:10; fill: white}
                .st1{stroke-width:4;}
			}
        }
        .call {
            .tel {
                height: 40px;
    						margin: 5px 0px;
                span {
                    font-weight: bold;
                    font-size: 17px;
                    display: flex;
                    align-items: center;
                    i {
                        border: 2px solid black;
                        border-radius: 20px;
                        padding: 4px;
                        margin-right: 10px;
                    }
                }
            }
            .info {
				font-weight: bold;
                span {
                    display: inline-block;
                    width: 90px;
                    padding: 3px 5px;
                    font-size: 12px;
                    text-align: center;
					transition: 0.2s all ease-in-out;
                }
                span:nth-child(1) { }
                span:nth-child(2) { }
            }
        }
		nav {display: none;}
    }
    .bottom {
		position: relative;
		.tel {display: none;}
    }
}

.call-bar {
	display: flex;
	justify-content: space-around;width: 100%; 
	padding: 10px 1px 10px 1px;
	a {
		font-weight: bold;
		font-size: 14px !important;
		cursor: pointer;
	}
}
.fl {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 15px;
}
.page {
	display: flex;
	width: 100%;
	flex-direction: column;
}
.index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 20px 10px;
    .intro {
        padding: 5px 0px 30px 20px;
        border-left: 15px solid $red;
        margin: 30px 0px;
        h1 {
            font-size: 25px;
            margin: 0px;
            color: $grey_font;
        }
    }
    .bloc-index {
		cursor: pointer;
        margin: 20px 0px;
        width: 100%;
        .title {
            display: flex;
            h1 {
                font-size: 45px;
                margin: 0px;
            }
        }
        .content {
            display: flex;
            flex-direction: row;
            .description {
                width: 40%;
                color: white;
				h1 {display: none;}
                p {
                    margin: 0px;
                    padding: 10px;
                }
            }
            .img {
                background-size: cover;
                width: 60%;
                background-position: center;
            }
        }
    }
}

.prestation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    .intro {
        margin: 15px;
        h1 {
            font-size: 25px;
        }
        p {
            
        }
    }
}

footer {
	background: #3f3f3f;
	height: 0px;
	transition: 0.3s height ease-in-out;
}
.display-footer {height: 60px !important;}


.popup {
	  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    transition: 0.5s all ease-in-out;
		z-index: 4;
		form.demande-rappel {
			display: flex;
			flex-direction: column;
			width: 80%;
    	margin: auto;
    	margin-top: -30vh;
			span.titre {
				i.space-grow {flex-grow: 0.2;}
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-around;
				i.material-icons {
					display: inline-block;
					right: 0;
					top: 0;
					padding: 0px 10px;
					color: #000000;
					cursor: pointer;
				}
			}
			div.content-input {
				display: flex;
				flex-direction: column;
			}
		}
}
.popup-is-visible {
	display: flex;
}




/*
 * ORDI
 */

@media (min-width: 900px) {
	/*body {background-color: red;}*/
	div.theme-default header.header-fixed-bar { background-color: $grey; }
	div.theme-default {
		header.header-fixed-bar .top .logo svg {
			circle.st0 {stroke: white; fill: $grey_font}
			line.st1{stroke: white;}
			path.st2{fill: white;}
		}
	}
	div.theme-serrurerie {
		header.header-fixed-bar .top .logo svg {
			circle.st0 {stroke: white; fill: $red}
			line.st1{stroke: white;}
			path.st2{fill: white;}
		}
	}
	div.theme-plomberie {
		header.header-fixed-bar .top .logo svg {
			circle.st0 {stroke: white; fill: $blue}
			line.st1{stroke: white;}
			path.st2{fill: white;}
		}
	}
	div.theme-electricite {
		header.header-fixed-bar .top .logo svg {
			circle.st0 {stroke: white; fill: $orange}
			line.st1{stroke: white;}
			path.st2{fill: white;}
		}
	}


	header.header-fixed-bar {
		flex-direction: row;
		
		.drawer {display: none;}
		.top {
			width: 75%;
			align-items: flex-end;
			.call {display: none;}
			nav {
				display: initial;
				margin-bottom: 22px;
				a {
					cursor: pointer;
					border-right: 1px solid $grey_font;
					padding: 5px 10px;
    				font-size: 15px;
					&:nth-last-child(1) {border-right: none;}
				}
			}
		}
		.bottom {
			display: flex;
			justify-content: center;
   			align-items: center;
			flex-direction: column;
			width: 25%;
			padding: 10px;
			background-color: $grey_font;
			transition: 0.2s all ease-in-out;
			.tel {
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				padding: 5px 0px;
				height: 40px;
				color: white;
				span {
						font-weight: bold;
						font-size: 18px;
						i {
								border: 2px solid white;
								border-radius: 20px;
								padding: 4px;
								margin-right: 10px;
						}
				}
				&::after {
					content: "Devis Gratuit 24h/7j";
					font-size: 16px;
    				padding: 10px 0px;
					color: white;
				}
      }
			.call-bar {display: none;}
			/*.call-bar {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				margin-top: -20px;
				&::before {
					content: "Devis Gratuit 24h/7j";
					font-size: 16px;
    				padding: 10px 0px;
					color: white;
				}
				a {
					&:nth-child(2) {
						display: none;
					}
				}
			}*/
		}
	}
	.fl {flex-direction: row; align-items: baseline;}
	div.page {
		flex-direction: row;
		.section {	
			width: 75%;
			float: left;
			.index {
				padding: inherit;
				.intro {
					padding: inherit;
					border-left: none;
					width: 100%;
					height: 250px;
					margin: inherit;
					margin-bottom: 20px;
					display: flex;
					justify-content: center;
					align-items: center;
					h1 {
						border-left: 15px solid #ec052e;
						padding-left: 15px;
					}
				}
				.bloc-index {
					.title {display: none;}
					.content {
						height: 200px;
						.center {flex-direction: column;}
						.description {
							h1 {
								display: block;
								font-size: 30px;
							}
						}
					}
				}
				.competences {display: none;}
			}
			.prestation {
				padding: 20px;
				.intro { width: 57%;}
				.competences {display: none;}
			}
		}
		div.side {
			display: initial;
			width: 25%;
			float: left;
			form.demande-rappel {display: block;}
			div.competences {
				margin-top: 50px;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: initial;
				div {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					color: $grey_font;
					margin: 70px 0px;
					width: initial;
					span.icon {
						width: 100px;
						height: 100px;
						display: block;
						background-color: $grey_font;
						mask-position: 50% 50%;
						-webkit-mask-position: 50% 50%;
						mask-repeat: no-repeat;
						-webkit-mask-repeat: no-repeat;
					}
					h3 {
						font-size: 20px;
						line-height: 25px;
						width: 75%;
						margin: 0;
						text-align: center;
					}
				}
			}
		}
	}
	footer {display: none;}
}






/*
 * THEMES
 */

div.theme-default {
	div.drawer {
		.menu .menu-global {
			border-top: 2px solid $grey_font;
		}
	}
	header.header-fixed-bar {
		background-color: $grey;
		
		.top {
			.logo {
                svg {
					circle.st0 {stroke: white; fill: $grey_font}
					line.st1{stroke: white;}
					path.st2{fill: white;}
				}
			}
			.call {
				color: $grey_font;
				.tel > span > i { border: 2px solid $grey_font;}
				.info {
					color: white;
					span:nth-child(1) { background-color: $grey_font; }
					span:nth-child(2) { background-color: $grey_font; }
				}
			}
		}
		.bottom {
			background-color: $grey_font;
			.tel {
				color: white;;
				span > i { border: 2px solid white ; }
			}
			.call-bar {
				&::before {color: white;}
				a {
					color: $grey_font;
					border: 1px solid $grey_font;
					background-color: $grey;
				}
			}
		}
	}
	div.menu-mobile {
		background-color: $grey;
		border-right: 1px solid $grey;
		.close-menu i { color: $grey_font; }
		a { color: $grey_font; }
	}
	.index {
		.assu-title { 
			h2 {color: $grey_font !important;}
		}
	}
	footer {
		background-color: $grey;
		.call-bar {
			a {
				border: 1px solid $grey_font !important;
				color: $grey_font !important;
				background-color: $grey !important;
			}
		}
	}
	form.demande-rappel {
		background-color: $grey_font;
	}
}

div.theme-serrurerie {
	div.drawer {
		.menu .menu-global {
			border-top: 2px solid $red;
		}
	}
	header.header-fixed-bar {
		background-color: $grey;
		.top {
			.logo {
				svg {
					circle.st0 {stroke: white; fill: $red}
					line.st1{stroke: white;}
					path.st2{fill: white;}
				}
			}
			.call {
				color: black;
				.tel > span > i { border: 2px solid $red; }
				.info {
					color: white;
					span {background-color: $red;}
					span:nth-child(1) { }
					span:nth-child(2) { }
				}
			}
		}
		.bottom {
			background-color: $red;
			.call-bar {
				a {
					color: $red;
					border: 1px solid $red;
					background-color: $grey;
				}
			}
		}
	}
	div.menu-mobile {
		background-color: $red;
		border-right: 1px solid $red;
		.close-menu i { color: white; }
		a { color: white; }
	}
	.section {
		.prestation {
			.assu-title { 
				h2 {color: $red !important;}
				.line { background: $grey_font !important;}
			}
			.title { color: $red;}
			.border-left {border-left: 12px solid $red;}
			.competences span.icon {background-color: $red;}
		}
	}
	.side .competences span.icon {background-color: $red;}
	footer {
		background-color: $red;
		.call-bar {
			a {
				border: 1px solid white !important;
				color: white !important;
				background-color: $red !important;
			}
		}
	}
	form.demande-rappel {
		background-color: $red;
	}
}

div.theme-plomberie {
	div.drawer {
		.menu .menu-global {
			border-top: 2px solid $blue;
		}
	}
	header.header-fixed-bar {
		background-color: $grey;
		.top {
			.logo {
				svg {
					circle.st0 {stroke: white; fill: $blue}
					line.st1{stroke: white;}
					path.st2{fill: white;}
				}
			}
			.call {
				color: black;
				.tel > span > i { border: 2px solid $blue; }
				.info {
					color: white;
					span {background-color: $blue;}
					span:nth-child(1) { }
					span:nth-child(2) { }
				}
			}
		}
		.bottom {
			background-color: $blue;
			.call-bar {
				a {
					color: $blue;
					border: 1px solid $blue;
					background-color: $grey;
				}
			}
		}
	}
	div.menu-mobile {
		background-color: $blue;
		border-right: 1px solid $blue;
		.close-menu i { color: white; }
		a { color: white; }
	}
	.section {
		.prestation {
			.assu-title { 
				h2 {color: $blue !important;}
				.line { background: $grey_font !important;}
			}
			.title { color: $blue;}
			.border-left {border-left: 12px solid $blue;}
			.competences span.icon {background-color: $blue;}
		}
	}
	.side .competences span.icon {background-color: $blue;}
	footer {
		background-color: $blue;
		.call-bar {
			a {
				border: 1px solid white !important;
				color: white !important;
				background-color: $blue !important;
			}
		}
	}
	form.demande-rappel {
		background-color: $blue;
	}
}

div.theme-electricite {
	div.drawer {
		.menu .menu-global {
			border-top: 2px solid $orange;
		}
	}
	header.header-fixed-bar {
		background-color: $grey;
		.top {
			.logo {
				svg {
					circle.st0 {stroke: white; fill: $orange}
					line.st1{stroke: white;}
					path.st2{fill: white;}
				}
			}
			.call {
				color: black;
				.tel > span > i { border: 2px solid $orange; }
				.info {
					color: white;
					span {background-color: $orange;}
					span:nth-child(1) { }
					span:nth-child(2) { }
				}
			}
		}
		.bottom {
			background-color: $orange;
			.call-bar {
				a {
					color: $orange;
					border: 1px solid $orange;
					background-color: $grey;
				}
			}
		}
	}
	div.menu-mobile {
		background-color: $orange;
		border-right: 1px solid $orange;
		.close-menu i { color: white; }
		a { color: white; }
	}
	.section {
		.prestation {
			.assu-title { 
				h2 {color: $orange !important;}
				.line { background: $grey_font !important;}
			}
			.title { color: $orange;}
			.border-left {border-left: 12px solid $orange;}
			.competences span.icon {background-color: $orange;}
		}
	}
	.side .competences span.icon {background-color: $orange;}
	footer {
		background-color: $orange;
		.call-bar {
			a {
				border: 1px solid white !important;
				color: white !important;
				background-color: $orange !important;
			}
		}
	}
	form.demande-rappel {
		background-color: $orange;
	}
}
