<div class="prestation">
    <div class="fl">
      <div class="intro">
          <h1 class="red-color">Votre artisan serrurier {{ city ? 'à ' + city.name : "proche de chez vous." }}</h1>
          <div class="border-left">
              <p>Nos serruriers sont à votre entière disposition et vous proposent une gamme d'interventions et de dépannages en serrurerie toute l'année et se tiennent prêt à intervenir dans la demi-heure pour un déblocage de porte ou un remplacement de serrure.</p>
              <p>Nos intervenants sont des professionnels capables de trouver des solutions efficaces et sécurisées à tous vos besoins ainsi que vous apporter des solutions complémentaires afin d'améliorer la sécurité de votre porte.</p>
          </div>
      </div>
      <div>
        <h2 class="title">Prestations de serrurerie</h2>
        <ul class="border-left">
          <li>Ouverture de porte claquée</li>
          <li>Ouverture de porte fermé a clef, garage, portail, porte blindée multi-points</li>
          <li>Remplacement  cylindre, mecanisme, poignée</li>
        </ul>
      </div>
    </div>

    <div class="line red-bg"></div>

    <app-assurance class="app-assu"></app-assurance>

    <app-competence style="width: 100%;"></app-competence>

    <div class="line red-bg"></div>

    <div>
      <h2 class="title">Un professionnalisme rassurant</h2>
      <p>Votre sécurité étant notre priorité, les serruriers d'{{ent_nom}} sont disponibles à toute heure de lundi à vendredi, pendant le week-end, les jours fériés et pendant les vacances.</p>

      <p>L’effraction, le cambriolage, le vol sont des atteintes graves, et constituent une violation. Nos serruriers vous procurent sécurité en :</p>
      <ul>
        <li>Renforçant la porte d’entrée</li>
        <li>Blindant la porte</li>
        <li>Installant des alarmes de sécurité</li>
        <li>Fixant un barreaudage le long de la clôture</li>
        <li>Installant des persiennes métalliques</li>
      </ul>

      <p>Faites-nous confiance, aucune serrure n’a de secret pour nous.</p>
    </div>

</div>
