<div class="prestation">
    <div class="fl">
        <div class="intro">
            <h1 class="title">Votre artisan électricien {{ city ? 'à ' + city.name : "proche de chez vous." }}</h1>
            <div class="border-left">
                <p>Travaillant essentiellement pour les particuliers, {{ent_nom}} étudie minutieusement chaque projet. Nous vous apportons ainsi les solutions d’installation, rénovation et dépannage les plus adaptées à vos besoins. Notre personnel vous assiste dans tous vos travaux électriques pour maisons individuelles, parties communes ou appartements.</p>
                <p>Vous pouvez aussi compter sur nous pour l’installation et la mise en service de climatisation, pompe à chaleur et système de chauffage électrique. Sans oublier l’installation de système domotique et automatismes.</p>
            </div>
        </div>
        <div>
            <h2 class="title">Prestations d'électricité</h2>
            <ul class="border-left">
                <li>Recherche de panne électrique</li>
                <li>Installation électrique</li>
                <li>Rénovation électrique</li>
                <li>Pose d'interupteur</li>
                <li>Changement d'ampoules, prises</li>
                <li>Remise aux normes tableau électrique</li>
            </ul>
        </div>
    </div>

    <div class="line orange-bg"></div>

    <app-assurance class="app-assu"></app-assurance>

    <app-competence style="width: 100%;"></app-competence>

    <div class="line orange-bg"></div>

    <div>
      <h2 class="title">De véritables professionnels pour l'optimisation de vos travaux</h2>
      <p>{{ent_nom}}, c’est aussi une garantie de qualité pour tous travaux. Nos techniciens qualifiés et expérimentés vous conseillent sur l’amélioration du confort et de la sécurité de vos installations. Nous réalisons vos travaux dans le respect des normes d’installation et les délais d’intervention.</p>
      <p>Vous pourrez profiter de nos prix constamment négociés pour vous auprès de nos fournisseurs pour vos produits. Cela sans compter les assurances responsabilités civiles professionnelles et l’assurance décennale nécessaire à la réalisation de nos ouvrages.</p>
    </div>

    <div>
      <h2 class="title">L’importance d’une bonne installation électrique</h2>
      <p>Toute personne peut réaliser une installation électrique domestique. Toutefois, il est préférable de s’adresser à un artisan qualifié. Une installation électrique neuve ou rénovée répond à une réglementation. Cette dernière est définit par la norme NF C 15-100.</p>
      <p>Ces dispositions changent régulièrement, d’où l’intérêt de faire appel à un éléctricien confirmé. Un professionnel sera en mesure d’installer des branchements conformes aux normes en vigueur pour obtenir convenablement une certification électrique, nécessaire au raccordement de votre installation au réseau local. Installer une électricité dans le respect des normes contribue à diminuer considérablement tous les risques électriques , le court-circuit entre autres , responsable d’une électrocution, d’un incendie.</p>
      <p>Un câblage mal installé peut être à l’origine de ces dangers tout comme la vétusté des équipements ou les phénomènes naturels comme la foudre. L’intervention d’un professionnel reste incontournable dans les deux premiers cas. Il pourra entre autres réaliser une rénovation complète ou partielle de votre installation. Quant aux phénomènes atmosphériques, la réglementation exige l’installation de dispositifs comme les paratonnerres.</p>
    </div>

</div>
